[Unit]
Description=Redshift
After=network.target display-manager.service

[Service]
Type=idle
ExecStart=/usr/bin/redshift
Restart=always
Environment=DISPLAY=:0
User=gcg

[Install]
WantedBy=multi-user.target
